.vedio {
    height: 100vh; 
    width: 100%;   
    display: flex; 
    justify-content: center; 
    align-items: center; 
    overflow:hidden;
  
   
  }
  
  /* Video styling */
  .vedio video {
    margin:0;
    padding:0;
    width: 100vw;  
    height: 100vh; 
    object-fit: cover; 
  }
  
  @media (max-width: 768px) {
    nav{
      height: 50px;
    }
  
    header h1 {
      font-size: 18px; 
    }
  
    video {
      top: 50px; /* Adjust to match reduced header height */
      height: calc(100vh - 10vh); /* Ensure full coverage */
      object-fit: contain;
      width:100vh;
      margin:0;
      padding:0;
    }
  }
  
  